@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");

.header{
    background-color: #3483eb;
    width: 100%;
    height: 60px;
    /* position: fixed;
    top: 0; */
    display: flex;
}

.text{
    margin-top: 7px;
    margin-left: 9px;
    color:white;
    font-family: 'Lobster', cursive;
    font-size: 40px;
    flex: 11;
}

.home-logo{
    margin-top: 5px;
    margin-left: 25px;   
}

a,
a:visited,
a:focus,
a:active,
a:link {
  text-decoration: none;
  color: white;
}

.links{
    color: white;
    margin-top: 20px;
    font-size: 17px;
    flex: 2;
}